.box_grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 5px;
    max-width: 1425px;
    border-radius: 20px;
    border-color: rgba(56,56,57,0.89);
    box-shadow: 0 0 10px rgb(43, 43, 40);
    background-color: rgba(0, 0, 0, 0.11);
}

.title_grid {
    display: flex;
    justify-content: center;
    margin: -5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(93, 93, 94);
    border-radius: 20px 20px 0 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(243, 205, 16);
    text-shadow: -2px 0 black, 0 2px black,
    2px 0 black, 0 -2px black;
}

.grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1025px ;
}

.movie_grid {
    display: inline-block;
    margin: 20px;
    padding: 5px;
    width: 200px;
    height: 320px;
    border: 3px solid rgb(243, 205, 16);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(43, 43, 40);;
    background-color: rgb(93, 93, 94);
}

.movie_grid:hover {
    position: relative;
    bottom: 3px;
    box-shadow: 2px 25px 10px 0px rgba(41, 42, 49, 1);
}

a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(243, 205, 16);
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
}

a:hover {
    text-decoration: none;
    text-shadow: none;
    font-size: 16px;
    color: rgb(243, 205, 16);
}

.title_movie_grid {
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
